[2015-09-25 22:01] wonderchook opened #2 "Field Papers UI improvements"
**Note: Currently Cadasta has many more for Outreachy applicants than we can accept. If you have not already made an initial contribution to a project it is best you look for another organization within Outreachy that doesn't have as many applicants.**

Field Papers is a web application that allows someone to print maps, annotate those maps and then reupload them. It is a tool used around the worl

[2015-09-28 18:19] wonderchook opened #3 "Research and Set-up a Cadasta Community Portal"
Cadasta is a very new open-source project. Software Development started just this year and we are just beginning to a build a community. One of the next steps is to put together structure of a portal for that community to come together.

**Tasks for this project:**
1. Research potential software options for community portals. How do other communities work with each other? What works and what doesn

[2015-09-28 18:24] wonderchook opened #4 "Quickstart Guide on How to Document Land Rights Using Cadasta"
Cadasta is a very new open-source project. Software Development started just in 2015 and we are just beginning to a build a community. One of the missing pieces is a Quick Start guide for how to document ones land rights using Cadasta.

**Tasks for this project:**
1. Create initial guide outline.
2. Write guide chapters.
3. Create graphics as appropriate for guide showing workflows.
4. Obtain feed

[2015-09-30 06:54] ian-ross commented on #2
Here are some brief notes to help getting started with looking at the suggested initial task.  This is fixing [issue #142](https://github.com/fieldpapers/fieldpapers/issues/142) in the Field Papers web app, which is a problem in the user interface used for setting up atlas pages.

### Getting started

The absolute first thing to do is to read the [description of the issue](https://github.com/field

[2015-09-30 19:47] smarshy commented on #2
Hi ,i went through the "getting started" notes .Is it necessary to use a recent version of ruby?As it so happens,I am using ubuntu 14.04 and the default version is 1.9.3.I did search for alternatives but also noticed issues with newer versions and couldn't find a suitable installer

[2015-09-30 20:10] ian-ross commented on #2
@smarshy I don't know for sure what versions of Rails work with what versions of Ruby, but my guess would be that 1.9.3 might not work (major version number change).  What I do is use `rbenv` to manage Ruby versions.  That way you can work with whatever version you like, independent of what the OS package manager has available.

To set up `rbenv` (and the `ruby-build` utility that goes with it), d

[2015-10-01 10:05] saijahnavi1537 commented on #2
When I try to run rake db:create I am getting error. Can some one help me.![error](https://cloud.githubusercontent.com/assets/10941710/10218099/f0a853c2-6851-11e5-8775-43951d9e466f.png)

[2015-10-01 11:38] ian-ross commented on #2
@saijahnavi1537 OK, this isn't something you could be expected to figure out.  What's happening is that the Rails web app uses some packages that call external Javascript programs to do some processing (looks like it's a Javascript code compactor/uglifier).  That means that it needs access to a server-side Javascript runtime, which you don't have.  I don't see this problem on my development machin

[2015-10-01 19:53] saijahnavi1537 commented on #2
@ian-ross  Yeah it worked. after I installed node.js

[2015-10-05 22:20] wonderchook commented on #4
For more background on Cadasta here is a recent [presentation from FOSS4G](http://www.slideshare.net/wonderchook/cadasta-securing-property-rights-with-open-source).

[2015-10-06 19:29] TwinkleChawla commented on #2
When I ran 'rake db:create' and 'rake db:schema:load' this happened:
![screenshot from 2015-10-07 00 56 51](https://cloud.githubusercontent.com/assets/12040806/10319922/52a1adf4-6c8e-11e5-9af2-de278289594b.png)

[2015-10-06 19:37] ian-ross commented on #2
@TwinkleChawla  Take a look at the [comment above](https://github.com/Cadasta/cadasta-project-ideas/issues/2#issuecomment-144526182) about Ruby versions.  The error message you're getting is telling you that the Ruby version you have installed (1.9.3, which I think is currently the standard for Ubuntu 14.04) doesn't match with the version that's declared in the `Gemfile` (which specifies a fixed R

[2015-10-06 20:05] TwinkleChawla commented on #2
@ian-ross: I did ruby configurations for 2.2.3 setup but still 'rake db:create' is showing:
rake aborted!
No Rakefile found (looking for: rakefile, Rakefile, rakefile.rb, Rakefile.rb)

[2015-10-06 20:13] ian-ross commented on #2
@TwinkleChawla  Where are you trying to run Rake?  You should be in the top-level `fp-web` directory.  There's definitely a Rakefile there!  And did you do a `bundle install` in the `fp-web` directory again after you set up the new Ruby version?

[2015-10-06 20:16] TwinkleChawla commented on #2
After doing 'bundle install' , it again shows:
Your Ruby version is 1.9.3, but your Gemfile specified 2.2.2

[2015-10-06 20:19] ian-ross commented on #2
@TwinkleChawla  What version does `ruby --version` show?  And which Ruby executable is actually being used -- what does `which ruby` show?  It sounds like the `rbenv` setup stuff you should have put into your `.bashrc` isn't working right.

[2015-10-06 20:23] TwinkleChawla commented on #2
Its again 1.9.3 version, but I just copied down the above written stuff into .bashrc!

[2015-10-06 20:28] ian-ross commented on #2
What does `which ruby` show?  And is `~/.rbenv/shims` in your PATH?  (If not, that shows that the `rbenv` stuff hasn't run when you opened your shell.)

[2015-10-06 20:31] TwinkleChawla commented on #2
@ian-ross 'rbenv' is running..
![screenshot from 2015-10-07 02 00 07](https://cloud.githubusercontent.com/assets/12040806/10321590/27f7c15c-6c97-11e5-8123-66e66c4c1a8d.png)

[2015-10-06 20:36] ian-ross commented on #2
@TwinkleChawla  I don't think it's set up right.  The fact that `which ruby` says `/usr/bin/ruby` shows that the `rbenv` path isn't set up correctly.  Here's what I see:

[code]

What happens if you just cut and paste the `rbenv` initialisation code into your terminal window:

[code]

[2015-10-07 02:25] smarshy commented on #2
@TwinkleChawla Hi! I actually ran into each and every error you have mentioned here.
The first comment would help you in setting up rbenv. If you still have problems you could refer to the tutorial below.It is actually pretty much the same thing and it worked for me.

https://www.digitalocean.com/community/tutorials/how-to-install-ruby-on-rails-with-rbenv-on-ubuntu-14-04

To resolve the 'No Rakefi

[2015-10-07 05:52] ian-ross commented on #2
@smarshy  Thanks for the link to that tutorial.  I think that will be useful for a lot of people.

[2015-10-07 13:54] TwinkleChawla commented on #2
@smarshy Thanks for the link.. Now I am done with it!

[2015-10-11 08:15] shamika89 commented on #2
@ian-ross
I am trying to set up the project in windows environment. When I executed rake db:create command I encountered the following error.

E:\Casendra\fp-web>rake db:create
rake aborted!
LoadError: cannot load such file -- nokogiri/nokogiri

But when I executed 'bundle show nokogiri' it showed that 'nokogiri' was existing.

[2015-10-11 08:25] ian-ross commented on #2
@shamika89  I think you'll have a much better time using a Linux VM for this.  The `nokogiri` gem uses native extensions and so getting it working on Windows requires some extra steps.  The Field Papers server runs on Linux servers.  I don't know if anyone has ever got the code working on Windows, but it will be *much* easier if you use a Linux VM.  Just install VirtualBox and set up an Ubuntu 14.

[2015-10-11 09:15] shamika89 commented on #2
@ian-ross Thank you for the advise. I'll try to use Ubuntu.

[2015-10-14 12:31] sandraemma03 commented on #4
Hello, my name is sandra and i am interested in this project for Cadasta outreachy 2015.

[2015-10-17 12:56] wonderchook commented on #4
Hi @sandraemma03 thanks for introducing yourself.

[2015-10-17 14:45] wonderchook commented on #2
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;nSfXH2aN&#x2F;1-field-papers"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Field Papers</a>

[2015-10-17 18:11] sandraemma03 commented on #4
Hi Kate Chapman,

I have researched and i can't find any tool on Cadasta to document
the rights. I want to ask if the platform is still under development

Thanks

On 10/17/15, Kate Chapman <notifications@github.com> wrote:

--
*Sandra **Nsiany *

[2015-10-21 15:11] sandraemma03 commented on #4
Hi @wonderchook, I have done an initial attempt to the guideline and i want you to review. How can i submit it?

[2015-10-21 16:33] wonderchook commented on #4
@sandraemma03 can you open a ticket and tag me in it with the guide attached?

[2015-10-21 16:59] sandraemma03 commented on #4
@wonderchook, i don't know how this is done. This is the link to my git repository for the guide.
https://github.com/sandraemma03/cadasta-project-ideas

[2015-10-21 17:09] wonderchook commented on #4
@sandraemma03 please try to work it out. You need to open an issue in github in this repository. You could try searching "opening an issue on github" if you need step by step instructions.

[2015-10-21 17:31] sandraemma03 opened #5 "Cadasta guide attempt"
This is an attempt to the guide on how to use cadasta

[2015-10-21 18:04] sandraemma03 commented on #4
@wonderchook, Thank you. I have open an issue as you asked but I can't attached the guide to it. I have researched and am stock. Please can you give me a clue?

[2015-10-21 18:12] sandraemma03 commented on #4
@wonderchook , I got a message from ian-ross and she said the application list has been shortlisted and i don't find myself in it. So i think am disqualified for this project.

[2015-10-26 09:33] #5 closed

[2016-02-02 07:22] #2 closed

[2016-02-02 13:53] ian-ross opened #6 "Field Papers image processing pipeline"
**This project is for Google Summer of Code, not Outreachy**

**Cadasta has not been accepted as a mentoring organisation for GSoC this year, so we will NOT be offering an internship for this project.**

Field Papers is a web application that allows someone to print maps, annotate those maps and then reupload them.  It is a tool used around the world for community mapping.  This project is essenti

[2016-02-10 19:06] priyankamandikal commented on #3
Hello! I am interested in knowing whether this project will be offered for this round of Outreachy. I did some initial lookup on what types of portals are available and which tools can be used for building online portals. I just thought I should stop by and enquire before getting down to documenting my work.

[2016-02-11 16:27] TheaGlitter opened #7 "Community Knowledge and Resource Portal"
# This Project is Closed to New Applications. There are many people already interested, please look for another project or organization.

#3 The Cadasta Platform is a relatively new open-source project working to build a fit-for-purpose land and resource rights management system. When deployed alongside equitable and inclusive programs, this technology has the power to democratize the documentatio

[2016-02-11 16:33] wonderchook commented on #3
Use this ticket instead: https://github.com/Cadasta/cadasta-project-ideas/issues/7

[2016-02-11 16:33] #3 closed

[2016-02-15 12:39] priyankamandikal commented on #7
I am Priyanka Mandikal and I am interested in applying for the Outreachy project on Community Portal Development for Cadasta. I felt I need more information on how Cadasta operates before writing the initial draft for task 1 i.e researching community portal software options. Nevertheless I went ahead and prepared a rough draft of what I think about the community options for Cadasta. Let me know ho

[2016-02-15 19:15] wonderchook commented on #7
@priyankamandikal if you could just include a link to what you have worked on here that would be great.

[2016-02-16 04:48] priyankamandikal commented on #7
This is just a rough draft. A little feedback would be helpful before proceeding further.
[Report Link](https://github.com/priyankamandikal/cadasta-community-dev/wiki)

[2016-02-16 19:37] TheaGlitter commented on #7
Hello @priyankamandikal . Thank you so much so sharing your draft. I read through it and I like the way you are structuring the analysis. I will share some of the initial strategy documents I have developed that explain in more detail the Cadasta community. I would also be more than happy to jump on a skype call to discuss any questions you have about the organization or the internship. My skype i

[2016-02-17 08:49] khushbuparakh commented on #4
I am khushbu and I am interested in this project for  Outreachy 16. So I need help in getting started with things.

[2016-02-17 09:15] khushbuparakh commented on #2
Hi! I am khushbu an Outreachy 2016 applicant. I am quite familiar with Leaflet and ROR and I have set the developer environment as per instruction given by @ian-ross. Looking forward to solve my first issue.
Please help me guiding to it and I would also like to know whether an IRC channel is there for "Cadasta"

[2016-02-17 09:22] ian-ross commented on #2
@khushbuparakh This project is closed.  Only open issues labelled "Outreachy" are going to be offered as Outreachy projects in this round: https://github.com/Cadasta/cadasta-project-ideas/issues?q=is%3Aissue+is%3Aopen+label%3AOutreachy

[2016-02-17 09:24] khushbuparakh commented on #2
ok thanks @ian-ross . I will look at  the issues.

[2016-02-17 12:12] priyankamandikal commented on #7
Hi Thea!

I am looking forward to having a Skype call with you! Before that however, I would like to go over the community documents and discuss them over the call. If you could link me to the documents, so that I can study them, it would be great!

[2016-02-17 17:01] TheaGlitter commented on #4
Hello,
Thank you for your interest in our internship position. To get started,
please read the project description and task list. If you have specific
questions about the tasks let me know and I will be happy to answer them.

Best,
Thea Aldrich

On Wed, Feb 17, 2016 at 2:49 AM, khushbu <notifications@github.com> wrote:

[2016-02-18 15:18] wonderchook opened #8 "Community Land Boundaries Demarcation Android Application"
**Cadasta has not been accepted as a mentoring organisation for GSoC this year, so we will NOT be offering an internship for this project.**

Many places in the world have a history of community mapping with pen and paper. This process allows communities to discuss what where their boundaries are, what resources they have in some cases work towards having a level of legal government recognition of

[2016-02-19 17:35] TheaGlitter commented on #7
Sure, I will pull more information together and post it to the Issue early next week.

[2016-02-19 19:53] TheaGlitter opened #9 "Land and Resource Rights Community Research and Segment Analysis"
# This project is closed to new applicants, we already have many people interested. Please either look at another project or organization.

The Cadasta Platform is a relatively new open-source project working to build a fit-for-purpose land and resource rights management system. When deployed alongside equitable and inclusive programs, this technology has the power to democratize the documentation

[2016-02-26 04:56] saijahnavi1537 commented on #4
Hi, I am jahnavi. I am interested in doing this project. I had read about project description before making an outline as the initial task I just wanted to know if there is any guide previously written?

[2016-02-26 08:31] essymo commented on #9
Hi @fhpichel @TheaGlitter @wonderchook , My name is Esther and I am interested in this project.

[2016-02-26 15:07] wonderchook commented on #4
@saijahnavi1537 no there is not a previous guide.

This list is not exhaustive, but here are a few things a guide should include:

- What is land rights?
- Types of technology available for documentation
- What to think about before starting a project

Reading through Cadasta's website would be a good starting point, though you can find other resources by searching online as well.

[2016-02-26 15:07] wonderchook commented on #9
Hi @essymo great, let us know if you have any questions as you get started.

[2016-02-26 16:27] MMBazel commented on #9
Hi @wonderchook @TheaGlitter, I'm interested in this project as well. My name is Mikiko and I'm currently a GIS student with a background as an analyst and education in public health. Looking forward to collaborating with you on this project.

[2016-02-29 12:51] saijahnavi1537 commented on #4
[CADASTA.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/150909/CADASTA.pdf)
@TheaGlitter  @wonderchook  Hey please look at the initial outline of guide (contents). And suggest me how to proceed.

[2016-02-29 14:12] TheaGlitter commented on #9
Welcome @MMBazel Please let me know if you have any questions. Thank you for your interest in this internship.

[2016-02-29 21:43] Prateechi commented on #4
Hi, I am Prateechi. This project seems interesting and i would like to be a part of it for Outreachy 2016. Can you please send me link to some guide so that i can match your requirements and expectations.
Thank you.

[2016-02-29 21:50] wonderchook commented on #4
@Prateechi the point is that a guide doesn't exist. What information other than a guide would help you get started?

[2016-02-29 21:54] Prateechi commented on #4
@wonderchook Alright. I will send you my work on this. I also wanted to know if project 'Community Knowledge and Resource Portal' also open. I will send you a rough draft for both projects.

[2016-02-29 21:55] wonderchook commented on #4
@Prateechi yes the other project is also open. It is recommended you pick the project you are most passionate about and focus on that one. Then you can spend more energy on it and do a better job.

[2016-02-29 21:56] Prateechi commented on #4
@wonderchook  Ok i will. Thank you.

[2016-03-01 05:40] saijahnavi1537 commented on #4
@TheaGlitter  Hi, I tried making rough outline of contents in Quick start guide. Can you please look through it, so that I can make changes in the guide.
[CADASTA.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/152208/CADASTA.pdf)

[2016-03-01 18:45] ankita0000 commented on #9
Hi @wonderchook @TheaGlitter @fhpichel
am ankita and am interested in
internship and looking forward to be associated
with cadasta .I am a student pursing my
engineering.

[2016-03-01 18:52] ankita0000 commented on #7
hi @wonderchook @theaglitter  am ankita am interested in
internship and looking forward to be associated
with cadasta ,i am a student pursing my
engineering .

[2016-03-01 18:56] ankita0000 commented on #4
hello @wonderchook @fhpichel am ankita am interested in internship and looking forward to be associated
with cadasta, i am a student pursing my
engineering

[2016-03-01 22:34] wonderchook commented on #9
Hi @ankita0000 thanks for your interest. Please let us know if you have questions.

[2016-03-02 01:42] essymo commented on #9
@wonderchook @TheaGlitter https://github.com/essymo/cadasta/wiki Here is a sample of the initial Task for application question,Kindly look at it and tell me if I am on the right track.Thank you

[2016-03-02 02:42] MMBazel commented on #9
Hi @TheaGlitter @wonderchook,
Quick question on how you would like the drafts to be posted/delivered?

Should we link here to a personal github wiki page, open an issue in a personal repository under our account? I've attached a link below but can do something different.

[Initial list of questions]https://github.com/MMBazel/Cadasta/wiki/Land-and-Resource-Rights-Expert-Interview-(10-Questions))

A

[2016-03-02 10:37] techchic commented on #7
Greetings from Kenya, @wonderchook and @theaglitter.
My name is Dorcas,I am very interested in contributing for Cadasta especially this particular project.

[2016-03-02 14:49] wonderchook commented on #7
hi @techchic nice to meet you!

[2016-03-02 16:09] sunita00 commented on #9
hello @TheaGlitter @wonderchook  i am sunita  from India and am working professional ,i want to get exposure to leverage my technical skills under cadasta. i am interested in this internship.

[2016-03-02 16:53] Prateechi commented on #4
Hi Kate @wonderchook ,
I have made a rough draft for the outline of the guide. I was hoping if i could mail the draft to you explaining the a little bit more about the approach.
You can send me a blank email on prateechi.singh345@gmail.com
I hope you will like it.
Thank You.

[2016-03-02 17:05] wonderchook commented on #4
Hi @Prateechi if you could send us a link to your draft that would be great. Just paste it inline here.

[2016-03-02 17:07] wonderchook commented on #4
@saijahnavi1537 thanks for the outline. The guide is intended to be more a guide on the actual land rights documentation process than guide to Cadasta's website. You might try playing with the Platform to get a better idea of the software as a good starting point.

[2016-03-02 17:30] saijahnavi1537 commented on #4
Hi @wonderchook  I have some doubts. I have checked demo of cadasta platform on the website. It included how to create project, maps and soo on. So now this guide should include that ryt? and What do u mean by actual land rights documentation?  Should it be more about wat are land rights? how are they documented before?  various technologies? disadvantages and advantages? and soo on.. But in main

[2016-03-02 17:38] wonderchook commented on #4
@saijahnavi1537 the guide should answer questions such as:

- What are land rights?
- What are some processes for documenting land rights? (for example mapping boundaries of community lands)
- Types of technologies that could be used in the documentation (imagery, GPS units, mobile phones)

The main focus shouldn't be the platform, but it is a key component of the guide.

[2016-03-02 19:15] ankita0000 commented on #7
@TheaGlitter @wonderchook Please check the rough idea i have made and give me the feedback

[Project ](https://github.com/ankita0000/management/blob/master/project.pdf)

[2016-03-02 19:39] techchic commented on #7
[Research 1](https://github.com/techchic/Cadasta/wiki).
 Feel free to give me your feedback at your earliest convince.@TheaGlitter  @wonderchook

[2016-03-02 19:54] Prateechi commented on #4
Hi @wonderchook  @fhpichel
I am attaching a rough draft for the outline of the guide. I hope you will like it. Please go through it and do share your views so that i can make changes accordingly.
Thank you .
![cadasta_content](https://cloud.githubusercontent.com/assets/13360749/13473243/8d220f18-e0de-11e5-9669-9a0b9ce79bc2.jpg)
![cadasta](https://cloud.githubusercontent.com/assets/13360749/1347324

[2016-03-02 20:01] Prateechi commented on #4
Hi @wonderchook @fhpichel
I am sending a rough draft for the outline of the guide. Please do see it and share your views so that i can make changes accordingly. If you need any more work as a microtask then do mention.
Thank You. Hope you will like it.
![cadasta](https://cloud.githubusercontent.com/assets/13360749/13473412/483fc902-e0df-11e5-9b67-deee2f50f028.jpg)
![cadasta_content](https://cloud.

[2016-03-03 17:31] saijahnavi1537 commented on #4
[CADASTA_ver2.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/157308/CADASTA_ver2.pdf)
Hi @wonderchook @TheaGlitter , I tried to make some changes as per your suggestions. Kindly look through it and suggest modifications that are required.

[2016-03-03 18:52] Prateechi commented on #4
Hi @wonderchook !
Generally Quick Start Guide are of max 12-14 pages. Therefore i kept the headings accordingly. If you need the detailed contents then i will make the changes accordingly. Do also specify a round about number of pages for the guide.
Thanks. :-)

[2016-03-03 18:53] #8 closed

[2016-03-03 18:54] #6 closed

[2016-03-05 00:25] wonderchook commented on #4
@Prateechi ideally it should be shorter than that, I'd say 5 or 6 pages.

[2016-03-05 00:27] wonderchook commented on #4
@saijahnavi1537 I think with content you are on the right track, we would probably cut some of the details in the interest of being concise. Do you have thoughts about the overall design of the guide?

[2016-03-05 02:20] Prateechi commented on #4
@wonderchook , are there any other changes you think that I should make?

[2016-03-05 09:17] saijahnavi1537 commented on #4
Thanks @wonderchook  for your feedback.  As you have mentioned I will try to cut short some of details, as guide should be not more than 5 or 6 pages. My idea is once we fix with the contents page, we can add content corresponding to that sections and relevant flow diagrams. Should I make rough draft showing where flow diagrams, block diagrams can be added. What else should be included in the desi

[2016-03-05 14:28] wonderchook commented on #4
@Prateechi, I'm going to wait and have @fhpichel look it over he is the "land person". I'll mention for him to look.

@saijahnavi1537 I think a rough draft sounds good. Thanks for sharing the video I hadn't seen that one. I think there are a couple different ways that audiences could potentially consume the quickstart guide. Some people are going to want to use it printed on paper. Others will be

[2016-03-05 14:37] wonderchook commented on #9
Hi @MMBazel as a link to your personal wiki page is fine. The one item I think is missing in your questions is more generic questions that get at our questions about technology. Can you think of ways to bring out what tools they use everyday in a different way. Maybe for example someone extensively uses WhatsApp to communicate with their colleagues and even assign tasks, but it doesn't occur to th

[2016-03-05 14:38] wonderchook commented on #9
hi @sunita00 please let us know if you have any questions.

[2016-03-05 14:41] wonderchook commented on #7
hi @ankita0000 we are more interested in how people interested in land or using the Cadasta platform can discuss and share what they are doing, recommend tools.

Thanks @techchic can you also expand the 2nd part to look at what free culture communities do to share as well? I think we didn't well define what community means with regards to a community portal.

[2016-03-06 03:55] Prateechi commented on #4
@wonderchook Alright. The Idea regarding animated video explaining the whole mechanism is good. Even a short animated video ad for about 20-30 sec will also be great, can be featured as a YouTube ad and will be useful for  creating awareness about the Cadasta organisation to masses.

[2016-03-06 21:22] MMBazel commented on #9
Hi @wonderchook, thanks for the feedback!

I see your point and this is something I've run across to in leading db/crm implementations in that people will often take some aspects of their technological stack and workflows for granted. Still mulling over how to dig deeper. Thanks again for the feedback! :)

[2016-03-07 15:20] saijahnavi1537 commented on #4
Hi @wonderchook  I am in process of making rough draft, will send that by tonight. Since there are different kinds of audience, I think the only difference comes in terms of graphic content. For the people who view it on computer has video tutorial, graphic content, formatting. So while  printing these attributes should be excluded. One way is for computer viewing we display them on web page and f

[2016-03-08 19:49] saijahnavi1537 commented on #4
Hi @wonderchook
[CADASTA1.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/163782/CADASTA1.pdf) This is what I thought about overall design of guide. As the guide is restricted to be not more that 5-6 pages this design would be better rather than previous uploaded one. This is concise rather than previous one.   What do think about this design? With this previous design
[CADASTA.pdf](ht

[2016-03-09 13:01] techchic commented on #7
Hello @wonderchook  thanks for the feedback... Here's a a [link](https://github.com/techchic/Cadasta/wiki/How-do-other-communities-work-with-each-other%3F-What-works-and-what-doesn't-work-as-well%3F) to what have done so far.

[2016-03-10 05:04] GracielaC commented on #4
@wonderchook @fhpichel
Hi, my name is Graciela. I'm really interested in this project: "Quickstart Guide on How to Document Land Rights Using Cadasta" through Outreachy 2016. I've done some research about Cadasta and land rights and it has made clear on what the guide's content should be. I want to start doing the initial attempt and I have a couple questions before I start:
- Who is the potential

[2016-03-11 15:25] MMBazel commented on #9
Hi @wonderchook @TheaGlitter, I've updated my interview questions page to include the following questions for determining tech usage:

- What kind of social media and mobile technology do you use during your day? What are the four main uses of mobile technology being applied in your daily activities?

- What are the different ways you document, visually and textually, rights issues you encounter w

[2016-03-11 21:38] saijahnavi1537 commented on #4
@wonderchook  After looking at my design. Please tell me how to proceed with the next task.

[2016-03-12 01:11] Prateechi commented on #4
Hi @wonderchook @fhpichel,
Please have a look at the rough draft i send and suggest changes so that i can improve it and work further on this project.
Thank You!

[2016-03-12 03:18] cartoblu commented on #4
Hello @wonderchook @fhpichel,

My friend Julia Lawall has been bugging me to get involved with this project, and she knows me well!  I'm hooked!  Have spent past 3 days studying/absorbing Cadasta, details on land tenure issues. LOVE the "party-relationship-land" organization of Cadasta.  I will be submitting a quick start outline proposal.  It may take a few days to polish it, as I'm teaching this

[2016-03-12 04:10] cartoblu commented on #4
[Quick Start Guide for Cadasta.docx](https://github.com/Cadasta/cadasta-project-ideas/files/170256/Quick.Start.Guide.for.Cadasta.docx)
Above is first draft -- will polish ASAP :-)

[2016-03-12 22:20] wonderchook commented on #4
@saijahnavi1537 don't worry about replicating all the information on the website. Think more along the lines for what are the possible steps someone needs to take. Visual design is less important at the moment than the structure.

[2016-03-12 22:21] wonderchook commented on #4
@Prateechi where is the draft you are referring?

[2016-03-12 22:22] wonderchook commented on #4
@GracielaC

The users could be varied in their technology knowledge. I would say assume a basic level of computer/internet literacy. We would eventually also translate into other languages.

As far as format feel free to suggest something.

[2016-03-12 22:24] wonderchook commented on #4
@cartoblu I like the design tree idea. I can imagine that fitting well into a web based guide a "choose your own adventure" type path.

[2016-03-13 18:00] Prateechi commented on #4
Hi @wonderchook @fhpichel,
As I can see that the potential users are mostly people with basic understanding of computers and mobile phones, I have incorporated some changes in the draft accordingly. I feel that the quick start guide should be in both electronic and non-electronic form.

In electronic format, the guide can be in the form of an app or a webpage link. A nice interactive guide will ke

[2016-03-13 18:46] shitaljagtap commented on #4
Hi @wonderchook

I am interested in the project "Quickstart Guide on How to Document Land Rights Using Cadasta" and would like to apply for the same. This would be the great opportunity for me to get associated with CADASTA and know more about the work they do.

 I have made my first attempt to create the outline of the Guide and have created 2 templates to get an idea about the design of the Guid

[2016-03-14 03:24] MMBazel commented on #9
Hi @wonderchook @TheaGlitter, I've updated my [interview questions page](https://github.com/MMBazel/Cadasta/wiki/Land-and-Resource-Rights-Expert-Interview-(10-Questions)) to include the following questions for determining tech usage:

What kind of social media and mobile technology do you use during your day? What are the four main uses of mobile technology being applied in your daily activities?

[2016-03-15 08:46] shitaljagtap commented on #4
Hi @wonderchook

Could you please have a look at the drafts I have submitted and let me know your feedback ?
It will help me to understand whether I am on the right track.

Thanks & Regards,
Shital

[2016-03-15 18:09] wonderchook commented on #4
@Prateechi the content draft is okay. There should be a section on the "why" they would want to use the software as well.

[2016-03-15 18:10] wonderchook commented on #4
@shitaljagtap I like the design it follows our brand quite well. Could you also think about an outline of more specific content that would be in there?

[2016-03-15 18:12] wonderchook commented on #7
Hi @techchic I like your content. For this project we were looking for more a web portal to help people share information. I think you might be interested in the Quickstart guide project: https://github.com/Cadasta/cadasta-project-ideas/issues/4

[2016-03-15 19:12] TheaGlitter commented on #9
Hi @MMBazel Thanks for the questions. I really like the narrative tone of the questions!

[2016-03-17 11:37] shitaljagtap commented on #4
Hi @wonderchook

Thanks for the feedback.
I have created the outline of the Quick Guide with more specific content.

Please find the attached pdf and let me know your comments.
[Quick Guide Outline.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/177750/Quick.Guide.Outline.pdf)

Thanks & Regards,
Shital

[2016-03-17 16:59] Prateechi commented on #4
Hi @wonderchook,
I have added in the draft the point you mentioned. I tried to answer the question why the users would want to use the software.
Please do have a look and further share your views.

Thanks!

[Cadasta draft2.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/178323/Cadasta.draft2.pdf)

[2016-03-19 09:09] Anagha1 commented on #9
Hello all,
I am Anagha Mohite from India and am working in eletronics. I got to know about this program very late,  so i am style working on the task to Be done, by sending this mail, I want to convey you that i am interested in participating this campaign.

[2016-03-20 13:42] SonaliAg commented on #9
Hi @wonderchook @TheaGlitter @fhpichel
I am Sonali Agrawal and I am interested in this project . I am a engineering student and interested in GIS.  [Here](https://github.com/SonaliAg/Cadasta/wiki/Land-and-Resource-Rights-Community-Research-and-Segment-Analysis---Initial-Task) is my initial task for this project. Waiting for the comments.

[2016-03-20 13:44] SonaliAg commented on #7
Hi @wonderchook @TheaGlitter @fhpichel
I am Sonali Agrawal and I am interested in this project . I am a engineering student and interested in GIS. [Here](https://github.com/SonaliAg/Cadasta/wiki/Community-Knowledge-and-Resource-Portal---Initial-Task) is my initial task for this project. Waiting for the comments

[2016-03-20 13:51] SonaliAg commented on #4
Hi @wonderchook @fhpichel
I am Sonali Agrawal and I am interested in this project . I am a engineering student and interested in GIS. [Here ](https://github.com/SonaliAg/Cadasta/wiki/Quickstart-Guide-on-How-to-Document-Land-Rights-Using-Cadasta--Initial-Task)is my initial task for this project. Waiting for the comments.

[OutlineQuickStartGuideforCadasta.pdf](https://github.com/Cadasta/cadasta-pro

[2016-03-20 18:06] deeptireddy commented on #9
[cadasta.docx](https://github.com/Cadasta/cadasta-project-ideas/files/181433/cadasta.docx)

Hi @wonderchook @TheaGlitter @fhpichel
I am Deepti Reddy and I am interested in this project. The initial task is attached.
It would be really nice to get some feedback. Thank You.

[2016-03-21 06:37] jagtapkirti commented on #7
Hi  @wonderchook @TheaGlitter

My name is Kirti. I have done my Bachelor of Engineering in Information Technology. I am interested in
this project. Please find the document attached and provide me your feedback.

[Community Knowledge and Resource Portal.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/181737/Community.Knowledge.and.Resource.Portal.pdf)

I am little bit confused about th

[2016-03-21 08:37] Anagha1 commented on #9
hi @TheaGlitter @wonderchook
i have completed the initial task and the initial task is attached .

- [ ]
[cadasta task 1.docx](https://github.com/Cadasta/cadasta-project-ideas/files/181823/cadasta.task.1.docx)
i hope you will like it .
thank you.

[2016-03-21 11:01] ankita0000 commented on #7
Hello @TheaGlitter  @wonderchook

Community portal potential software i do understand but the major question i would like to ask cadasta is willing to share its tools for free of cost to others in community and also

what is the exact agenda because when i went through the website
I had two queries:
1.High level of interaction among community members
2.Development of software tools for sharing

If

[2016-03-21 11:07] ankita0000 commented on #7
and one more question regarding the running of the community portal are you looking for financial model for resource building.

thanks

[2016-03-21 13:32] wonderchook commented on #9
@deeptireddy thanks for the submission. You might try to think of questions where people walk through their daily steps rather than asking them what they do every day. Something like "what is your main task?" and then "can you walk me through the task as if I have to do it?"

[2016-03-21 13:33] wonderchook commented on #9
@Anagha1 you will want to check your spelling on your submission. For example please spell out "you" instead of "u".

[2016-03-21 13:35] wonderchook commented on #7
@jagtapkirti thanks for your submission. It would be beneficial to show some of your research into what other online communities are using for this type of sharing.

[2016-03-21 13:36] wonderchook commented on #7
@ankita0000 we hope not to build something from scratch. Ideally we'd use existing software. I'm not quite sure I understand your queries. Could you try rewording them?

[2016-03-21 13:36] wonderchook commented on #7
@ankita0000 we don't need a financial model at the moment.

[2016-03-21 13:42] SonaliAg commented on #9
@wonderchook can you please look at my submission. [here](https://github.com/SonaliAg/Cadasta/wiki/Land-and-Resource-Rights-Community-Research-and-Segment-Analysis---Initial-Task)

[2016-03-21 13:44] SonaliAg commented on #7
@wonderchook  can you please look at my submission. [here](https://github.com/SonaliAg/Cadasta/wiki/Community-Knowledge-and-Resource-Portal---Initial-Task)

[2016-03-21 13:46] SonaliAg commented on #4
@wonderchook can you have a look at my submission [here](https://github.com/SonaliAg/Cadasta/wiki/Quickstart-Guide-on-How-to-Document-Land-Rights-Using-Cadasta--Initial-Task)

[2016-03-21 13:46] MMBazel commented on #9
Hi @wonderchook, wanted to check in with you and see what your thoughts are on the updated interview questions, specifically the technology focused section? [Questions](https://github.com/MMBazel/Cadasta/wiki/Land-and-Resource-Rights-Expert-Interview-(10-Questions))

[2016-03-21 14:35] deeptireddy commented on #9
Hello @wonderchook
Thanks a lot for your valuable feedback. I have applied the changes and made a new set of questions.
Please review the same.
Thank you,

[cadasta.docx](https://github.com/Cadasta/cadasta-project-ideas/files/182419/cadasta.docx)

[2016-03-21 16:24] cartoblu commented on #4
Hi @wonderchook,

Just a couple quick questions:  Is the "Cadasta" logo font publicly available/free?  Also, with the privacy offered to Cadasta users:  Will Cadasta provide server space for users?  I'm assuming this in keeping with land rights mapping goals ... Or do users store their data on their own devices, and "upload" if they choose to share?  Second option would require user hardware (?).

[2016-03-21 16:58] wonderchook commented on #4
Hi @cartoblu:

You mean the logo and the tag line together? I don't think it is in a easy place to download at the moment but I can work on that being somewhere as a resource.

The main technology is a web platform which provides server space for the users. Users will in many cases have to collect the data while disconnected and then upload it once they have internet access. So some users might ne

[2016-03-21 17:02] cartoblu commented on #4
@wonderchook Thanks, Kate, I found a Futura Light that approximates it, that'll do for this draft.
 And thanks for the info! :-)The off-site server space for users is a wonderful aspect of this project.

[2016-03-21 21:43] cartoblu commented on #4
Hello to you all @wonderchook, @fhpichel, @TheaGlitter!  Here is a  graphic representation of a quick start user's guide.  I designed it too be a true "quick start" -- to get a user up and running, with the option of doing/learning a little here and there, if needed, or working all the way through.  The turquoise ribbon represents a possible (common?) path through the process.  Each "station" alon

[2016-03-21 21:45] cartoblu commented on #4
Feedback is ALWAYS welcome (forgot to add that). :-)

[2016-03-22 01:25] cartoblu commented on #4
Hello once again @wonderchook, @fhpichel, @TheaGlitter, Here is an outline for clickable pages ... can also be reconfigured to a PDF doc for download (when complete).  I'm imagining a "Quick Start" tab on the Cadasta Landing page which would lead to all this ... so I minimized the placement of the "Land Tenure/Why Cadasta?" sections b/c they are on the landing page also.  Hope that make sense! :-)

[2016-03-22 10:00] ankita0000 commented on #7
hi @TheaGlitter  @wonderchook
This is the rough idea i have made,please check it and give me the feedback

These are the softwares used for online portals:
[project.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/183872/project.pdf)

[2016-03-22 12:14] Anagha1 commented on #9
Hi@wonderchook @TheaGlitter
Thanks for your feedback and suggestions. I have made changes. Please suggest more.
Thank you
[cadasta.task.1 1.docx](https://github.com/Cadasta/cadasta-project-ideas/files/184055/cadasta.task.1.1.docx)

[2016-03-22 14:49] MMBazel commented on #4
@cartoblu : Love piktochart! Great choice! :+1:

[2016-03-22 15:15] wonderchook commented on #9
thanks all for your updates. I look forward to your applications.

[2016-03-22 15:17] wonderchook commented on #7
@ankita0000 thanks for submission Having a table for easy comparison including items such as general cost, if we would host the software or is hosting available, is it open source, etc would be useful.

[2016-03-22 15:24] wonderchook commented on #4
Just a reminder to everyone that application deadlines are approaching.

https://outreachy.gnome.org

[2016-03-22 16:21] ankita0000 commented on #7
@wonderchook  thank you for the feedback i will be sending the details in sometime.

[2016-03-22 17:55] ankita0000 commented on #7
@wonderchook this is the idea please give me the feedback

[research1.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/184665/research1.pdf)
[research2.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/184666/research2.pdf)

[2016-03-22 18:00] ankita0000 commented on #7
specifications for the research1 framework are presented in tabular form also comes with sample documentation i.e reasearch2 that how we should choose between them

[2016-03-22 18:27] ankita0000 commented on #7
hello @wonderchook
why is it important to choose between the platforms or softwares because if we dont figure out our audience and respond then building community portal cant reach the goals we keep on organizational level .

[guide to choose .pdf](https://github.com/Cadasta/cadasta-project-ideas/files/184714/guide.to.choose.pdf)

[2016-03-23 03:08] jagtapkirti commented on #7
@wonderchook
Thanks for your feedback.
I'll work and get information on what other online communities are using for this type of sharing and submit it in some time.

Thanks
Kirti

[2016-03-29 05:18] shitaljagtap commented on #4
Hi @wonderchook @fhpichel

I have submitted the outline of the Quick Guide with more specific content in the previous post.

It will be great if could you review it and let me know if I am on the right track.

If you want any further details with the guideline, please let me know. I will provide it.

Thanks & Regards,
Shital

[2016-03-29 05:45] Prateechi commented on #4
Hi @wonderchook,
Though the application submission is over but can I still contribute to the organisation (this project)?
I would love to help as the concept of organisation Cadasta in itself is really amazing and i can imagine that its use can actually change people's life especially in under developing countries.  :-)
So, do let me know if there is any work. :-)
Thanks!

[2016-04-10 13:00] jagtapkirti commented on #7
Hi  @wonderchook @theaglitter

Apologies for the late reply.
Please find attached pdf which contains the research about what other online communities are using for resource sharing.
[Community Knowledge and Resource Portal.pdf](https://github.com/Cadasta/cadasta-project-ideas/files/211770/Community.Knowledge.and.Resource.Portal.pdf)

Thanks
Kirti

[2016-04-10 13:46] ankita0000 commented on #7
hello @TheaGlitter  @wonderchook

can some one officially confirm me whether application phase got completed or not because last date got completed a lot earlier, still applications and work is considered can some one confirm me

[2016-04-22 16:09] MMBazel commented on #9
Hi @wonderchook @TheaGlitter , thanks for taking the time to consider my application and the opportunity to participate. Would it be possible to find out why someone wasn't accepted?

[2016-04-29 19:19] wonderchook commented on #9
Hi @MMBazel we ended up not being able to accept anyone for this project.

[2016-04-29 19:19] #9 closed

[2016-04-29 19:27] MMBazel commented on #9
@wonderchook I'm sorry to hear that. Is there anyway to still contribute? I really like the work that you guys and it would be good to be able to keep helping out, even in a limited capacity.

[2016-04-29 19:55] wonderchook commented on #9
@MMBazel we won't be doing this type of analysis anytime soon. We'll be releasing another version of the Cadasta Platform end of June. We invite anyone to provide feedback on that. You can opt into our newsletter to find out more updates as things progress. http://cadasta.org/newsletter-optin/

We also will be offering internships against in the next December round.

[2016-08-30 17:19] #7 closed

[2016-08-30 17:19] #4 closed

[2016-09-09 05:37] zeddmaxx commented on #7
Hello!
I am Zoya an Engineering undergrad student.
I really like the idea of this project and would like to start contributing to it soon!

[2016-09-09 16:48] wonderchook commented on #7
hi @zeddmaxx this particular project is closed. There will be others opened and available on Monday.

[2016-09-09 17:17] wonderchook opened #10 "GUI For Creating XLSForms within Cadasta"
## Skills Needed
- JavaScript
- Python/Django
## First Task

Find a bug and attempt to fix it. You can find possible bugs [here](https://github.com/Cadasta/cadasta-platform/issues) or you can look for them yourself.
## Project Description

Cadasta uses the [XLSForm](http://xlsform.org/) standard to both define the data schema of a project and to create forms for data entry. The XLSForm standard ca

[2016-09-09 17:18] wonderchook opened #11 "Improve Overall Cadasta Cartography"
## Skills Needed
- Design skills
- A web map design technology such as CartoCSS
## First Task

Create a user account, organization and project on Cadasta's [demo system](https://demo.cadasta.org). Create a custom questionnaire for your project (documentation to assist is [here](http://docs.cadasta.org/en/08-XLSForms.html)). Once your questionnaire is created enter some data through the website or

[2016-09-09 17:19] wonderchook opened #12 "Create PDFs for Printing from Project Schema"
## Skills Needed
- Python/Django
## First Task

Find a bug and attempt to fix it. You can find possible bugs [here](https://github.com/Cadasta/cadasta-platform/issues) or you can look for them yourself.

If fixing the bug went well try the following: Create a user account, organization and project on Cadasta's [demo system](https://demo.cadasta.org). Create a custom questionnaire for your project

[2016-09-09 17:20] wonderchook opened #13 "Improve Testing for Cadasta Platform"
## Skills Needed
- Knowledge of a programming language
- Basic familiarity with software testing
- Selenium
## First Task

Find a bug and create a [Selenium Test](http://www.seleniumhq.org/) that detects that bug. Extra points if you can point out in Cadasta's code where the bug is occurring. Bonus, bonus points if you fix the bug.

If that was pretty easy design a Selenium test to completely test

[2016-09-10 19:04] kavindya89 commented on #12
Very interesting project @wonderchook. I'll do some initial research on this area and get back with some details.

[2016-09-16 21:52] AnnaMag commented on #11
hi All! Is this project still available?

[2016-09-16 21:59] wonderchook commented on #11
Yes, all the projects that still have open github issues are available.

[2016-09-17 05:32] manoramahp commented on #13
@wonderchook
I'd like to contribute to this improve automated testing for cadasta. I tried to run existing selenium tests that are mentioned in the wiki, but unable to proceed since https://devwiki.corp.cadasta.org/Running%20functional%20tests wiki is outdated. Could you please guide me on how to achieve this?

[2016-09-17 06:36] ian-ross commented on #13
@manoramahp The documentation is out of date, but it should be pretty obvious what to do. There's a directory called `functional_tests` at the top level of the repository with a script called `run.py` in it. Have you tried running that script?

[2016-09-17 07:05] manoramahp commented on #13
@ian-ross Yes i tried and got the functional tests running successfully.

[2016-09-17 17:49] Prateechi commented on #12
Hi @wonderchook,
We meet again :-D
This is a fantastic project. This one worth working for (y). I think I have idea to go about it (Its the field of my major project). Will send you the complete approach in sometime.

[2016-09-18 04:30] manoramahp commented on #13
@wonderchook I've gone through the Manual Test Cases doc mentioned in the project description. It seems all of these manual test cases are not implemented as automated tests. Shall I start with automating those test cases?

[2016-09-18 23:26] wonderchook commented on #13
@manoramahp how about start with the first task which was to find a bug and create a Selenium test to detect it.

[2016-09-23 11:06] zeddmaxx commented on #13
I would like to work on this :)

[2016-10-14 00:24] dj-m commented on #11
Hi! I'm very interested at tackling this project and love map design.

I've created a basemap of San Jose to complement the data extracted from the San Jose Open Data portal demo map [here](https://demo.cadasta.org/organizations/any-given-sunday/projects/san-jose-open-data-portal-affordable-housing/).

What's the best way to provide that basemap? (MBTiles export from Tilemill, CartoCSS code as a g

[2016-10-14 03:09] kavindya89 commented on #12
@wonderchook I have few question regarding the project. After doing some initial research, I have following questions in my mind.

The project idea is basically for convert XLSForm to PDF form. As you mentioned in the steps, user will first input basic XSLForm for PDF genaration form where when we generates the PDF form we need to add additional details such as logo, title and etc right? So basica

[2016-10-14 05:36] wonderchook commented on #12
@kavindya89 so I realized I was thinking about this a bit wrong. Cadasta eventually wants to move away from creating the project schemas from the XLSForms. So the paper/pdf forms should be created out of the individual project schema instead of using the XLSForm. Makes it a little more complicated, but will be better in the long run.

[2016-10-14 12:34] wonderchook commented on #11
@dj-m really up to you. The format we weren't too concerned with at this point and time, more your process to create it. How about a CartoCSS code and an image as a repo in github?

[2016-10-14 12:47] kavindya89 commented on #12
@wonderchook thanks for the input.

Is it mean that we will have a form design wizard separately and use it when create project schemas?

Or will user define the forms while project creation wizard going on?

[2016-10-14 12:52] wonderchook commented on #12
I think the form design will happen after the project creation wizard has completed. Not all projects will need to print PDF forms for data collection.

[2016-10-14 13:37] kavindya89 commented on #12
@wonderchook . So we will need separate view to create a HTML form which outputs a PDF form which will be use to collect the data.

[2016-10-14 18:25] kavindya89 commented on #10
@wonderchook Thanks for detailed project description. I have following questions in my mind.

So the basic idea is to provide a web interface for create, modify XSLForms through Web GUI right?
We need to have a separate view which enables user to upload XSLForm or create brand new XSLForm. This is to hide the complexity of creating complex XSLForms by using XSL sheets. So with web interface, user

[2016-10-15 12:27] aakanshavatsa commented on #13
Hi @wonderchook - I am interested to work on this project as part of Outreachy, and I was planning to write the Selenium tests for some of the issues already logged.
Can I go ahead with the same? I am confident to finish the task within 2 days.
Also which repo should I push the Selenium code? Can you please let me know that as well?

Much thanks!

[2016-10-16 09:59] wonderchook commented on #10
Not quite, but you are mostly right. We want to get away from using
XLSForms for modification and creation of project schemas in Cadasta. We
will still support creation of project schema with XLSForms upon creation
for a while though.

So the idea is a GUI for users to create the project schema.

[2016-10-16 10:01] wonderchook commented on #13
Go ahead. Just make a repo on your own github accound and share a link for
feedback.

[2016-10-16 10:29] manoramahp commented on #13
@wonderchook I've found the UI bug https://github.com/Cadasta/cadasta-platform/issues/835 and made selenium tests and also the fix for the bug in the PR https://github.com/Cadasta/cadasta-platform/pull/838

[2016-10-16 15:22] manoramahp commented on #10
@wonderchook As I got clarified from @bjohare, this project is about creating a UI editor to generate XForms instead of generating them from XLSForms. So if I'm not mistaken the intention of this project is to move away from XLSForms and directly generate XForms from the UI as in ODK build.

Further, since the XLSForm format is bit complicated to some users, they will find this UI much user-friend

[2016-10-16 15:54] manoramahp commented on #13
While being familiar with the available selenium tests in Cadasta, I've found out these tests mostly cover only the happy path scenarios and doesn't include much of other routines.

[2016-10-16 16:11] aakanshavatsa commented on #13
@wonderchook - The tests can be written in any programming language, Am I correct - I can select Java and Selenium Webdriver to cover the testing?

[2016-10-16 21:42] karenc commented on #10
## Current Behavior

From what I understand, users can upload an excel file (using the XLSForm structure) on a project details page to create a questionnaire.

I had a look at what cadasta is currently doing with the uploaded excel / xls file and it seems to:

1. store the xls file,
2. parse the file to json using `pyxform.xls2json.parse_file_to_json`,
3. generate an XForm file using `pyxform.buil

[2016-10-17 07:54] oliverroick commented on #13
@aakanshavatsa We would prefer if we can stick to technology, we are already using in our stack. The majority of our platform's code is written in Python. Unless there is a very good reason for Java, we should write those tests in Python too.

[2016-10-17 08:08] oliverroick commented on #10
@karenc I'm currently working on extending the API so that Questionnaires can be updated via the API. This includes some changes how XLSForm uploads will be handled in the future:

1. Store the XLS file
2. parse the file to JSON using `pyxform.xls2json.parse_file_to_json`
3. From the JSON create `Questionnaire`, `QuestionGroup`, `Question`, `QuestionOption` instances

XForms will be created from `

[2016-10-17 08:39] aakanshavatsa commented on #13
Hi @oliverroick, As part of my Outreachy task for this project, I have written the tests using Java-testNG-Webdriver combination.

Since the tests can be language agnostic and no particular language was mentioned in the description, I went ahead and implemented using Java.

The said tests can definitely converted to Python, will not take much effort.

I can discuss further with you and @wonderchoo

[2016-10-17 09:46] aakanshavatsa commented on #13
Hi,

Here is a summary of my completed tasks:

1. Find a bug : https://github.com/Cadasta/cadasta-platform/issues/844
2. Selenium test to detect the bug : https://github.com/aakanshavatsa/CadastaAutomationProject/blob/master/src/test/java/cadasta/tests/editprofile/ResetPasswordTest.java

3. Code change and bug fix PR : https://github.com/Cadasta/cadasta-platform/pull/846

4. Selenium tests for one

[2016-10-17 10:04] karenc commented on #10
@oliverroick That's great news! Thanks for the update! :tada:

[2016-10-17 19:23] aakanshavatsa commented on #13
Hi @wonderchook - I have submitted my application for this project.

Request you to kindly have a look at my proposed timeline for this project here : https://docs.google.com/document/d/15E6Y0nrc-D7XrHr11mSy8vvxKgpWDc8CjmGJAXm7Zc4/edit?usp=sharing

[2017-02-04 01:27] #13 closed

[2017-02-04 01:27] #10 closed

[2017-02-04 01:27] #11 closed

[2017-02-04 01:27] #12 closed

[2017-02-04 01:36] wonderchook opened #14 "Browser Based Data Collection Tool"
## Skills Needed
- HTML
- JavaScript

## First Task
Find a bug and attempt to fix it. You can find possible bugs [here](https://github.com/Cadasta/cadasta-platform/labels/First%20Contribution%20Friendly) or you can look for them yourself.  If that goes well create a project in Cadasta. Documentation is [here](https://docs.cadasta.org/en/) to help you get started. Be creative in your project, go tr

[2017-02-06 16:24] wonderchook opened #15 "Additional Login Options"
## Skills Needed
- Python
- Django
- JavaScript

## First Task
Find a bug and attempt to fix it. You can find possible bugs [here](https://github.com/Cadasta/cadasta-platform/labels/First%20Contribution%20Friendly) or you can look for them yourself.  If that goes well create a project in Cadasta. Documentation is [here](https://docs.cadasta.org/en/) to help you get started. Be creative in your pro

[2017-02-06 17:16] SteadyCadence commented on #14
* Restore/recover data if browser crashes
* Collect photos (this may be trickier)

[2017-02-06 17:21] wonderchook opened #16 "Creation of User Page"
## Skills Needed
- Python
- Django
- JavaScript

## First Task
Find a bug and attempt to fix it. You can find possible bugs [here](https://github.com/Cadasta/cadasta-platform/issues) or you can look for them yourself.  If that goes well create a project in Cadasta. Documentation is [here](https://docs.cadasta.org/en/) to help you get started. Be creative in your project, go try to create real data

[2017-02-09 17:40] SteadyCadence opened #17 "Improve Automatic Test Coverage (QA)"
## Skills Needed

* Experience with a programming language (Python preferred)
* Basic Understanding of python tests/specs and test Coverage
* Familiarity with Selenium

## First Task

Find a bug and attempt to fix it. You can find possible bugs [here](https://github.com/cadasta-platform/issues) or you can look for them yourself.

If that goes well, review the [cadasta-test repo](https://github.com

[2017-02-10 05:44] kpdp commented on #17
You can refer this wiki as well. https://github.com/Cadasta/cadasta-test/wiki/Cadasta-Test-Cases

[2017-02-10 05:45] kpdp commented on #17
You can refer this wiki as well. https://github.com/Cadasta/cadasta-test/wiki/Cadasta-Test-Cases

[2017-02-18 09:33] valaparthvi commented on #15
Hey , I would like to work on this issue as part of Outreachy. So how do I get started?

[2017-02-18 19:46] wonderchook commented on #15
@valaparthvi Thanks for your interest. what is not clear about how to get started in the instructions above?

[2017-02-19 04:17] valaparthvi commented on #15
@wonderchook I have started working on bugs mentioned in the above link, and I've already submitted a PR for issue [#1105](https://github.com/Cadasta/cadasta-platform/issues/1105l) and I'm finding other bugs to work on.
What I am unclear is, am I supposed to apply for these projects as a part of Outreachy  or as a part of the application process for Outreachy. So it would be good if you could clea

[2017-02-19 19:43] wonderchook commented on #15
@valaparthvi I'm not quite sure I understand your question. Are you asking if you should do the project as part of the outreachy application process? This project is the project for the Outreachy internship, not the project for applying. As part of your application to Outreachy you should outline a schedule and describe how you would approach the project.

[2017-02-21 08:08] valaparthvi commented on #15
@wonderchook I am now clear. I understand that this is the project for Outreachy Internship. So I will outline a schedule and approach for this project in my Outreachy Application. Thank You.

[2017-02-22 15:55] shailysangwan commented on #17
How to proceed after the completing the first task?
Fixed bug and added tests: https://github.com/Cadasta/cadasta-platform/pull/1134

[2017-02-23 16:33] oliverroick commented on #17
@shailysangwan You either fix another bug or start preparing your application by thinking about how you want to approach the project your want to work on and start to develop a project plan.

[2017-02-23 21:30] waseem18 commented on #16
Hi @wonderchook ,

I'm really interested in working on this project as a part of Outreachy. I'll start with resolving bugs on Cadasta platform.

Thank You.

[2017-02-23 21:48] waseem18 commented on #16
Quick question: @wonderchook Is it only for women or can any Indian men participate in this?

[2017-02-23 21:49] wonderchook commented on #16
@waseem18 please read the eligibility requirements here: https://www.gnome.org/outreachy/

[2017-02-27 21:06] mehulsr commented on #14
@oliverroick @wonderchook I am interested in taking up this project for Outreachy. Working on issue #922 now.

[2017-02-28 03:35] laura-barluzzi commented on #16
Hey @wonderchook! This looks like a fun project! I'd be very interested in taking this on during Outreachy. I love what Cadasta is doing, I've a BSc and a MSc in international development so I'm familiar with the problem of land ownership. I'm going to take a look at the list of bugs now to fix one before applying. Could you recommend one to me? Thanks :)

[2017-02-28 05:28] wonderchook commented on #16
@laura-barluzzi great to hear! Looks like you already found a bug to approach.

[2017-02-28 09:28] varunsharma commented on #17
Hey guys, I'm interested in this project for GSoC but I just noticed that label of GSoC is not set for this project. Is this project a part of GSoC 2017?

[2017-03-02 14:01] KhirwalSumeet commented on #14
@wonderchook  I am interested in taking up this project for Outreachy.

[2017-03-06 15:04] niharika1995 commented on #15
Hi all,

I would like to work on this project as a part of Outreachy. I have pushed a PR at [#1202](https://github.com/Cadasta/cadasta-platform/pull/1202).

[2017-03-06 15:18] niharika1995 commented on #16
Hi @wonderchook,

I would like to work on this project as a part of the Outreachy programme. I have submitted my first PR and wish to continue doing so.
Quick question: Can I submit proposals from two projects (#15 and #16) in the Outreachy programme?

Thanks!

[2017-03-06 18:08] wonderchook commented on #16
@niharika1995 can you submit two proposals, but I'd suggest focusing on one really good proposal instead. Just meaning don't sacrifice the qualify of one proposal in order to put in a second one.

[2017-03-07 17:43] SteadyCadence commented on #17
@varunsharma Yes, this project can be a part of GSoC.  Let me know if you have any further questions!

[2017-03-07 19:56] varunsharma commented on #17
Thanks @SteadyCadence. I'm almost ready with my first PR. Thanks for clarifying.

[2017-03-08 14:33] kaayushi commented on #17
Hi. Can someone please help me in finding the bugs associated with this project?

[2017-03-08 17:35] oliverroick commented on #17
Hi @kaayushi, Look into the repository `cadasta-platform`, we marked relevant issue with the label "First Contribution Friendly". Before you start working on issues, it might be worth a look if there are already pull requests for that PR.

[2017-03-08 18:55] laura-barluzzi commented on #16
@wonderchook and @clash99  I sent you a private message on gitter with my draft proposal on how to schedule this project. Cheers.

[2017-03-08 22:41] jainamritanshu commented on #16
Hi @wonderchook
I am Amritanshu Jain, a sophomore currently studying at BITS Pilani, Pilani Campus. I wish to apply for GSoC under your organisation.  I have a programming experience of over six years in Python and JS, and have gained substantial command over Python libraries/frameworks such as Django, Scrapy, NumPy OpenCV. I have also worked with Node.js and React/Redux for a few projects. I apol

[2017-03-10 02:41] SteadyCadence commented on #14
Those interested in this project may want to start looking at https://serviceworke.rs and other service worker resources.  :1st_place_medal:

[2017-03-10 10:42] valaparthvi commented on #15
@wonderchook, you mentioned in the Key Features about Review of possible API for phone support. There are many APIs which are not free. So does this APIs have to be Free and Open Sourced?

[2017-03-10 23:34] wonderchook commented on #15
@valaparthvi no we would need to pay for a service. We would want to use Twilio: https://www.twilio.com/

In approaching it though we want the code to be as modular as possible so it would be possible to switch providers someday without too much hassle.

[2017-03-11 00:30] niharika1995 commented on #15
@wonderchook @amplifi @oliverroick What is the expected and the approx. peak number of registrations Cadasta will handle per minute (assuming 1 SMS/registration)? This would help me decide whether communicating with the Twilio API can be handled within the request-response cycle.

[2017-03-11 01:05] niharika1995 commented on #15
Also, which OAuth providers is Cadasta targetting? Should existing users who have registered through email be allowed to link and login through their phone numbers and OAuth providers?

[2017-03-11 15:55] jainamritanshu commented on #16
@wonderchook have you had the time to look into this?

[2017-03-11 15:57] wonderchook commented on #16
nope

[2017-03-11 16:09] jainamritanshu commented on #16
@wonderchook I am sorry if you felt that I was trying to be rude. I was just curious about some suggestions from your side on the whole idea. Kindly tell me any mistake I might have made that made you upset.

[2017-03-12 08:47] sanskrutishah commented on #16
Hey @wonderchook! I'm interested in working on this project during Outreachy. I'm in my last year of computer engineering and have good knowledge of Python and JavaScript. I'm going to install the platform and try to solve one of the bugs. Is there any bug that should be given preference? Thanks!

[2017-03-13 05:48] wonderchook commented on #16
@jainamritanshu I think you are reading too much into it, but we will get to things when we get to them. Asking if we looked at it will not speed it up. There are many more applicants then there are mentors. A week is a more likely turn around time to get feedback.

[2017-03-13 05:48] wonderchook commented on #16
@sanskrutishah just pick one that interests you.

[2017-03-13 05:51] wonderchook commented on #16
@laura-barluzzi just a reminder to post your proposal in here for feedback. Thanks!

[2017-03-13 05:53] wonderchook commented on #15
@niharika1995 we aren't sure yet. I would suggest just doing it during the normal request-response cycle to start. Regarding specific OAuth providers, we'd want part of this project to involve doing research on options and then we'd decide.

Yes existing users should be able to link their phone numbers or OAuth providers.

[2017-03-13 14:49] ruthran011 commented on #14
@wonderchook I am interested doing this project for Google Summer of Code

[2017-03-13 14:52] wonderchook commented on #16
@jainamritanshu your suggested additions don't fit very well into how our partners use the platform. People tend to work in individual organization or community groups. So I'm not sure who they would be comparing with or chatting. Have you tried using the software yet?

[2017-03-13 23:55] laura-barluzzi commented on #16
Hi @wonderchook, thank you for the reminder. Here you can access a first version of my drafted [proposal](https://docs.google.com/document/d/15Yw5ny0y7fdd5efjYiFM-HXkbviVEcZTre6dVJo5C7k/edit?usp=sharing). Please let me know what you think.

[2017-03-14 11:45] Shruti9520 commented on #14
@wonderchook I have a doubt regarding the sixth point i.e `Collect photos`. Is it about collecting photos while offline or something else?

[2017-03-14 14:51] wonderchook commented on #14
@Shruti9520 if you look at resources in the Cadasta platform that is what the photos would be. This entire project needs to work offline, photos included.

[2017-03-14 16:36] wonderchook commented on #16
@laura-barluzzi proposal looks good and swapping the first two tasks is perfect. I'd suggest putting a little more detail into each specific task as well. Just a short outline of what steps the user would take and how within the Cadasta platform each part would fit. An example of how it would fit would be for the user profile picture, I'd suggest they be stored as resources the same as other files

[2017-03-15 06:50] yoshi2095 commented on #16
Hi @wonderchook, I was wondering if the measurement system has to be set for maps? Is there any other attribute say a *user input/output* that requires a measurement value, apart from the scales displaying over maps?

[2017-03-15 07:54] Sanny26 commented on #16
Hi @wonderchook, follow this [link](https://docs.google.com/document/d/10-vg0KNdyZLMB6rJ_xrDY3eAmawMwpWsih4LgTTOmOk/edit?usp=sharing) to access my initial draft. Please let me if the proposal requires any changes.

[2017-03-15 13:58] wonderchook commented on #16
@yoshi2095 dates and numbers also could be set. I would suggest breaking that into two parts though and starting with maps.

[2017-03-15 14:01] wonderchook commented on #16
@Sanny26 a few comments:

1. You will want to get the languages available from what Cadasta has, not all the ones possible.
2. Regarding the organization's you might consider that most users will only be a member of 1 or 2 organizations, the exception to this is people from Cadasta
3. Consider showing what org each project is a member in that view.
4. It isn't clear how saving a bookmark would wor

[2017-03-15 16:22] Sanny26 commented on #16
@wonderchook In my proposal, I swapped last feature and the second feature. Is that fine?
And, thanks for your suggestions! :)

[2017-03-15 16:45] laura-barluzzi commented on #16
Hi @wonderchook, I have been working on a detailed proposal and I have a question about the last feature _Bookmarks for specific zooms within project_.

Considering all the other tasks finished, I see **two ways I can get to a project ABC page** (assuming I have access to the project):

**1.** my dashboard --> my projects --> click on ABC project --> I'm on the ABC project page
**2.** Homepage -->

[2017-03-16 04:05] laura-barluzzi commented on #16
Hi @wonderchook, here a more [detailed proposal](https://docs.google.com/document/d/1TnlYGaANhKJrfzb5ONjCZ7Tvg_uv8WcwA3GFirPPK7c/edit?usp=sharing) on the steps that the user would take to view and edit things in their profile. I also outlined my general approach on how to solve the issues from a code point of view.

[2017-03-18 06:56] valaparthvi commented on #15
For phone-based registration, there are many python packages available which generate OTP and also uses Twilio API to send sms for verifying phone number, [django-otp-twilio](http://pythonhosted.org/django-otp-twilio/) is one such package. So do we want to use such packages or code from scratch?

[2017-03-18 09:28] aklife97 commented on #15
Hi,
How do you intend to bring in Multi-Factor Authentication i.e. what do you think would be the other steps that should be fulfilled after the person enters the correct username and password?
Should it based on Mobile/Email OTP or the combination of any 2 or more of the login methods?

[2017-03-22 14:48] amplifi commented on #15
@niharika1995 Assume we will be communicating with the Twilio API for this process.

[2017-03-22 14:50] amplifi commented on #15
@niharika1995 Assume we would be starting with Google and Facebook for OAuth providers, with the possibility of adding others.

[2017-03-22 14:58] amplifi commented on #15
@aklife97 For MFA, there should be three logical branches:

1. If a user has opted in, authenticate via password then via app-based TOTP.
2. If a user has not opted in to app-based TOTP, but has a registered phone number, authenticate via password then via SMS OTP.
3. If a user has not opted in to app-based TOTP, and does not have a registered phone number, authenticate via password then via email

[2017-03-22 15:00] wonderchook commented on #16
@clash99 could you review @laura-barluzzi question about the bookmarks above?

[2017-03-22 15:43] clash99 commented on #16
Hi @laura-barluzzi - I agree with your thinking that it makes the most sense to only have the bookmarks as an option when viewing the map, and not on the dashboard.

I think one question would be if bookmarks are set within the project so that they could be shared among project members.  I could see how this could benefit data collectors if set by a project manager.  Just something to keep in mind

[2017-03-23 07:43] sourabhtk37 commented on #15
@wonderchook [small doubt] suppose I am applying for GSOC and someone else is applying via Outreachy for this same, will both of them be selected or only one of the proposal?

[2017-03-23 15:29] wonderchook commented on #15
@sourabhtk37 only one would be selected.

[2017-03-23 20:08] sourabhtk37 commented on #15
That's weird don't you think, consider both are different project(GSOC and Outreachy). Let me know your inputs.

[2017-03-23 21:51] wonderchook commented on #15
@sourabhtk37 how is it weird? What is the point of having two people do the same project twice? We only need it coded once...

[2017-03-23 22:14] sourabhtk37 commented on #15
The point I'm making is that since cadasta has more resources at its expense (that's being part of gsoc & outreachy), it could have more projects instead of having common projects for both outreachy &gsoc.
Also, I am not expert on this, kindly share insights into why the need to have common projects instead of more projects.

[2017-03-23 22:26] wonderchook commented on #15
@sourabhtk37 that implies we have infinite people to mentor, which we do not. It takes a significant amount of investment to mentor someone well and we are a small group of people.

[2017-03-24 14:10] mayuri0192 commented on #14
@wonderchook I am interested in taking up this project for Google Summer of Codes

[2017-03-24 14:35] wonderchook commented on #14
@mayuri0192 great, thanks for your interest

[2017-03-24 18:41] sourabhtk37 commented on #15
Yeah, thought of that too.
Thanks so much @wonderchook

[2017-03-24 18:51] valaparthvi commented on #15
For implementing MFA, are we looking for a specific service provider?
@wonderchook @oliverroick @amplifi

[2017-03-25 17:07] Shruti9520 commented on #14
@wonderchook What do you think would be better for accessing location-based data- (1) Native browser API Navigator OR (2) HTML5 geolocation?
According to me, Native browser API Navigator should be used because HTML5 geolocation is not suitable for long running tracking applications.
Waiting for your reply. :)
Thanks

[2017-03-25 19:30] Shruti9520 commented on #14
@wonderchook I have some doubts regarding following-
1.`Download existing records on to the phone to be updated`
     What I understood here is when we do changes online, then offline cached data is not changed with it.
     In order to do that, Service workers should be updated.
2.`Collect data to update existing records`
    From this, do you meant the same as stated above in my point?

 Thanks

[2017-03-26 13:02] Shruti9520 commented on #14
@wonderchook Can I know where cadasta stores photos file in the online version i.e on s3 server or on any private cloud? Also, what is the average size of file?

[2017-03-27 08:50] oliverroick commented on #14
We're storing files on S3. We don't have information on average file sizes; it depends what type of resource it is. A video is larger than an image or a PDF.

[2017-03-27 13:21] Shruti9520 commented on #14
@oliverroick Thanks :)

[2017-03-27 17:24] Khushmeet commented on #16
Hi @wonderchook , I would like to work on this project in Google Summer of Code. Staring to squash some bugs right now.

[2017-03-29 16:58] jimenez53 commented on #16
Hi @wonderchook, I'am interesting in the proyect Enhance user settings and create a dashboard, and I have the proposal submit. Can you revise my proposal?

[2017-03-29 16:59] wonderchook commented on #16
@jimenez53 can you tell me if you are applying fro GSoC or Outreachy?

[2017-03-29 17:00] jimenez53 commented on #16
outreachy @wonderchook

[2017-03-29 17:04] wonderchook commented on #16
@jimenez53 have you fixed any bugs in Cadasta? I don't see any activity on our repository. I also don't see your application in with Outreachy.

[2017-03-29 17:08] jimenez53 commented on #16
No I dont fixed any bugs in cadastra. I still dint send the application, because I have question in blank.

[2017-03-29 17:10] wonderchook commented on #16
were you asking if you could revise your proposal or if I would review it? I'm confused.

[2017-03-29 17:54] jimenez53 commented on #16
Can you give me more information about the bugs in cadastra?  My mentor told me about this opportunity last week.

[2017-03-30 06:35] oliverroick commented on #16
@jimenez53 One the requirements to be accepted as a candidate for Outreachy is that you fix a bug for the project you want to apply for. You can find a list of possible issues that we think are suitable for first-time contributors [here](https://github.com/Cadasta/cadasta-platform/issues?q=is%3Aissue+is%3Aopen+label%3A%22First+Contribution+Friendly%22).

The deadline to submit your applications is

[2017-04-01 12:50] khantaalaman commented on #14
@oliverroick I had a doubt, please clarify whenever possible.
Quick question: Do we need to save Sent Forms (or submitted records) also in the local db like ODK does?

[2017-04-03 07:06] oliverroick commented on #14
I'm not sure if I understand your question. The data collected using this tool should be stored in the platform data base. Or do you mean that the raw form data is kept besides the processed data that results in locations, relationships and parties?

[2017-04-03 07:09] aklife97 commented on #15
Hi, my proposal has not been reviewed.
Can someone please see to it.
Thanks

[2017-04-03 10:20] khantaalaman commented on #14
@oliverroick The doubt is cleared now.

Thanks!

[2017-07-31 11:11] KukkadapuSushma commented on #17
Hi, I am new here, As I couldn't find any discussion forum so have pinged here! Kindly add me / share an invite link to join the group. I am an open src contributor, previously worked for FOSSASIA. I would like to start y contributions to Cadasta! :)

[2017-07-31 11:47] oliverroick commented on #17
@KukkadapuSushma You can find links to both the Google Group and Gitter in the Wiki.

One thing to keep in mind: Given the lack of resources on our team, it is currently highly unlikely that we will be offering internships in the foreseeable future.

[2017-07-31 11:51] KukkadapuSushma commented on #17
@oliverroick Thank you! I am currently not expecting anything, but would like to aim for winter -OutReachy program, 2017. :)

[2017-07-31 12:00] oliverroick commented on #17
That's what I meant, we probably will not be taking part in the next round of Outreachy (Winter 2017/18).

[2017-08-29 15:31] amplifi commented on #15
Implemented under Google Summer of Code 2017. Thanks, @valaparthvi!

[2017-08-29 15:31] #15 closed

[2017-09-18 18:59] amplifi commented on #17
Closing temporarily; to be re-opened when next participating in Outreachy or GSoC.

[2017-09-18 18:59] #17 closed

[2017-09-18 18:59] amplifi commented on #14
Closing temporarily; to be re-opened when next participating in Outreachy or GSoC.

[2017-09-18 18:59] #14 closed